/*-------------------------CSS RESET CODE--------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
} 

/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display:block;
}

body {
    line-height:1;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
/*--------------------------------------------------------------------------*/
* {
    margin:0;
    padding:0;
}

html { 
    background-color: #020659;  
}

body {
    width:375px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0 auto;
    background-color:#FFFFFF;    
}

#reorder {
    display:flex;
}

nav {
    order:0;
    position:fixed;    
    z-index:3;
    background-color:#030ABC;
    width:100%;
    box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);  
}

ul {
    overflow:hidden;
    max-height:0;
    transition:max-height .2s ease-out;
    background-color:#2104D9;    
    list-style:none;
    width:100%;
    margin:0;
    padding:0;
}

nav .items {
    text-transform:uppercase;
}

nav a {           
    text-decoration:none;
    text-align:center;
    color:#FFFFFF;    
    display:block;
    padding:20px 20px;
    }

nav li .items:hover, nav #logo:hover {
    background-color:#590242;
}
    
nav #logo {
        display:block;
        font-size:1.5em;
        text-decoration:none;
        font-weight:bold;
        text-align:center;
        color:#FFFFFF;
        font-variant:small-caps; 
        margin-right:105px;
        margin-bottom:15px;
        padding:0;
        float:right;            
}

nav #title {
    display:none;
}

nav ul {
    clear:both;
    max-height:0;
    transition:max-height .2s ease-out;
}

nav label {
    cursor:pointer;
    display:inline-block;
    margin-left:20px;
    position:relative;
    user-select:none;
}
        
nav label span {
        background-color:#FFFFFF;
        display:block;
        height:2px;
        position:relative;
        transition:background-color .2s ease-out;
        width:18px;
}

nav label span:before, nav label span:after {
    background: #FFFFFF;
    content:'';
    display:block;
    height:100%;
    position:absolute;
    transition:all .2s ease-out;
    width:100%;
}

nav label span:before {
    top:5px;
}

nav label span:after {
    top:-5px;
}

nav input {
    display:none;
}

nav input:checked ~ ul {
    max-height:240px;
}

nav input:checked ~ label span {
    background:transparent;
}

nav input:checked ~ label span:before {
    transform:rotate(-45deg);
}

nav input:checked ~ label span:after {
    transform:rotate(45deg);
}

nav input:checked ~ label:not(.steps) span:before, nav input:checked ~ label:not(.steps) span:after {
    top:0;
}

header {
    order:1;
    padding:20px;
    padding-left:35px;  
    background:linear-gradient(to right,#2104D9,#000000);
    color:#FFFFFF;
    margin-top:50px;
    width:100%;
}    

header h1 {        
    font-size:1.25em;
    text-transform:uppercase;
    padding-bottom:10px;
    font-weight:bold;
    width:100%;
}

nav h2 {    
    visibility:hidden;
}

h2 {
    padding-left:30px;
    padding-bottom:5px;
}

h2 {
    font-size:1.25em;
    text-transform:uppercase;
    color:#590242;    
    font-weight:bold;
}

p, dl, dd {
    font-size:1em;
}


/*-------------END OF DROPDOWN MENU STYLES-------------*/

/*-------START OF TRENDING SONGS SECTION (WITH SCROLL BAR)-------*/
#trending {
    color:#590242;
    padding-top:15px;
}

#trending ::-webkit-scrollbar {
   width:15px; 
}

#trending ::-webkit-scrollbar-track {
    box-shadow:inset 0 0 15px #590242;
}

#trending ::-webkit-scrollbar-thumb {
    background:#590242;
    border-radius:5px;    
}

#trending ::-webkit-scrollbar-thumb:hover {
    background:#020659;
}

#scroll {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x:auto;
    overflow-y:hidden;
    width:100%;
}

#scroll section {

    position:relative;
    margin:10px;  
    color:#590242; 
}

#scroll div {
    position:absolute;
    top:251px;
    background-color:rgba(255,255,255,.75);
    padding:5px;
    height:50px;
    width:100%;  
}
#scroll h3 { 
    font-weight:bold;
    font-size:1em;
    text-transform:uppercase;
    padding:5px;
}

#scroll section dl {
    display:flex;
    font-style:italic;
    margin:5px;
}

#scroll section dt {
    padding-right:5px;
    font-size:1em;
}

audio::-webkit-media-controls-mute-button {
    background-color:#FFFFFF;
    border-radius:50%;
}

audio::-webkit-media-controls-play-button {
    background-color:#FFFFFF;
    border-radius:50%;    
}

audio::-webkit-media-controls-enclosure {
    background-color:rgba(255,255,255,.5);
}

audio {
    position:absolute;
    bottom:150px;
    left:5px;
}
/*--------END OF TRENDING SONGS SECTION WITH SCROLL BAR---------*/

/*-----------START OF 'MORE TRENDING' BUTTON STYLES-------------*/
.more {
    color:#FFFFFF;
    background-color:#590242;
    border-radius:5px;
    padding:5px;
    width:135px;
    margin:5px;
    display:block;
    text-align:center;
    margin:10px 0 30px 32px;
    text-decoration:none;
}

.more:hover {
    background-color:#020659;
}
/*------------END OF 'MORE TRENDING BUTTON STYLES-------------*/

/*---------START OF PLAYLISTS SECTION WITH SCROLL BAR---------*/
#playlist-container ::-webkit-scrollbar {
    width:15px;
}

#playlist-container ::-webkit-scrollbar-track {
    box-shadow:inset 0 0 15px #020659;
}

#playlist-container ::-webkit-scrollbar-thumb {
    background:#020659;
    border-radius:5px;
}

#playlist-container ::-webkit-scrollbar-thumb:hover {
    background:#FFFFFF;
}

#scroll-playlists {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x:auto;
    overflow-y:auto;   
    background-color:#2699FB;
    padding:0;
}

#scroll-playlists section {
    margin:5px;
    padding:10px;
    position:relative;   
    background-color:#0D8DFB;
    color:#FFFFFF;
    text-align:center;
}

#playlist-container h3 {
    text-transform:uppercase;
    font-weight:bold;
    padding-bottom:10px;
}

#playlist-container .wrap {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:125px;
    align-self:center;
    margin-left:15px;
}
           
#scroll-playlists section img {
    padding:5px;
}

#scroll-playlists section:hover {
    background-color:#590242;
}

/*---------END OF PLAYLISTS SECTION WITH SCROLL BAR---------*/

/*-----------START OF 'ALL YOUR PLAYLISTS' BUTTON STYLES-------------*/
#all-btn {
    color:#FFFFFF;
    background-color:#590242;
    border-radius:5px;
    padding:5px;
    width:135px;
    display:block;
    text-align:center;
    margin:10px 0 30px 32px;
    text-decoration:none;
}

#all-btn:hover {
    background-color:#020659;
}
/*-----------START OF 'ALL YOUR PLAYLISTS' SECTION STYLES-------------*/
#scroll-curated {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x:auto;
    overflow-y:auto;   
    background-color:#2104D9;
    padding:0;
}

#scroll-curated section {
    margin:5px;
    padding:10px;
    position:relative;   
    background-color:#030ABC;
    color:#FFFFFF;
    text-align:center;
}

#scroll-curated section img {
    padding:5px;
}

#scroll-curated section h3 {
    padding-bottom:10px;
    text-transform:uppercase;
    font-weight:bold;
}
           
#dinner {
    position:relative;
}

#rephrase-dinner {
    display:none;
}



#scroll-curated section:hover {
    background-color:#590242;
}
/*-----------END OF 'ALL YOUR PLAYLISTS' BUTTON STYLES-------------*/

/*-----------START OF FOOTER SECTION STYLES-------------*/
footer p {
    font-size:.75em;
    color:#590242;
    text-align:center;
    padding-bottom:20px;
    width:100%;
}
/*-----------END OF FOOTER SECTION STYLES-------------*/

/*-----------START OF STYLING FOR LARGER SCREENS-------------*/
@media screen and (min-width:834px) {

    body {
        width:834px;
    }

    header {
        margin-top:70px; 
    }

    nav li {
        float:left;
    }

    nav li a {
        padding:20px 10px;
    }

    nav label {
        display:none;
    }
    
    nav ul {
        clear:none;
        max-height:none;       
        overflow:visible;
        position:absolute;
        top:0;
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    }

    nav #title {
        display:list-item;
        font-size:2em;
        font-weight:bold;
        font-variant:small-caps;
    }

    .more {
        float:right;
        border:none;
        margin-right:8px;
    }

    #playlist-container {
        display:inline-flex;
        flex-direction:row;
        width:100%;
        height:500px;
        background-color:#FFFFFF;
    }

    #playlist-container .wrap {
        width:200px;
    }

    #all-btn {
        float:right;
        border:none;
    }    
        
    #playlist-container img {
        float:left;    
    }

    .playlists {
        width:50%;
        height:100%;
        background-color:#FFFFFF;
    }

    #scroll-playlists {
        height:100%;
        width:100%;
        display:inline-flex;
        flex-direction:column;
        gap:10px;
    }

    #scroll-curated {
        height:100%;
        width:100%;
        display:inline-flex;
        flex-direction:column;
        gap:10px;
    }

    footer {
        margin-top:100px;
    }
}
