/*-------------------------CSS RESET CODE--------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
} 

/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display:block;
}

body {
    line-height:1;
    width:100%;
    max-width:834px;
    margin:auto;
    display:flex;
    flex-direction:column;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
/*--------------------------------------------------------------------------*/
* {
    margin:0;
    padding:0;
}

html { 
    background-color: #020659;  
}

body {
    min-width:375px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0 auto;
    background-color:#FFFFFF;
}

.reorder {
    display:flex;
    flex-direction:column;
}

.navbar {
    order:0;
    position:relative fixed;
    top:0;
    width:100%;
    background-color: #030ABC;
}

.smooth {
    order:1;
    position:relative;

    header {
    padding:20px;  
    background:linear-gradient(to right,#2104D9,#000000);
    color:#FFFFFF;  
    }
    
}

h1 {        /*smooth jazz header*/
    font-size:1.25em;
    text-transform:uppercase;
    padding-bottom:10px;
    font-weight:bold;
}

h2 {
    padding-left:30px;
    padding-bottom:5px;
}

nav h2 {    
    visibility:hidden;
}

h2, h3 {
    font-size:1em;
    text-transform:uppercase;
    color:#590242;    
    font-weight:bold;
}

p, dl, dd {
    font-size:1em;
}

section nav ul {
    overflow:hidden;
    max-height:0;
    transition:max-height .2s ease-out;
    list-style:none; 
    text-align:center; 
    margin:0;
    padding:0;
    background:#2104D9; 
      
}

#title {
    font-variant:small-caps;
    font-size:1.25em;
    font-weight:bold;
}

#sub-items {
    text-transform: uppercase;
}

ul li:hover {
    background-color:#590242;
    display:block;
}

ul a {
    text-decoration:none;
    text-align:center;
    color:#FFFFFF;    
    display:block;
    padding:20px 20px;
}

/*-------------START OF DROPDOWN MENU STYLES-------------*/
label li {
    font-variant:small-caps;
}

label li:hover {
    background-color:#590242;
    display:block;
}

label a {
    text-align:center;   
    text-decoration:none;
    display:block;
    padding:20px 20px;
    color:#FFFFFF;
}

label {
    cursor:pointer;
    display:inline-block;
    padding:28px 20px;
    position:relative;
    user-select:none;  
}

label span {
    background-color:#FFFFFF;
    display:block;
    height:2px;
    position:relative;
    transition:background-color .2s ease-out;
    width:18px;
}

label span:before, label span:after {
    background: #FFFFFF;
    content:'';
    display:block;
    height:100%;
    position:absolute;
    transition:all .2s ease-out;
    width:100%;
}

label span:before {
    top:5px;
}

label span:after {
    top:-5px;
}

input {
    display:none;
}

input:checked ~ ul {
    max-height:500px;
}

input:checked ~ label span {
    background:transparent;
}

input:checked ~ label span:before {
    transform:rotate(-45deg);
}

input:checked ~ label span:after {
    transform:rotate(45deg);
}

input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top:0;
}
/*-------------END OF DROPDOWN MENU STYLES-------------*/

/*-------START OF TRENDING SONGS SECTION (WITH SCROLL BAR)-------*/
.trending-container {
    width:100%;
    background-color:#FFFFFF;
}

#trending {
    color:#590242;
    padding-top:15px;
}

#trending ::-webkit-scrollbar {
   width:15px; 
}

#trending ::-webkit-scrollbar-track {
    box-shadow:inset 0 0 15px #590242;
}

#trending ::-webkit-scrollbar-thumb {
    background:#590242;
    border-radius:5px;    
}

#trending ::-webkit-scrollbar-thumb:hover {
    background:#020659;
}

.scroll {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x:auto;
    overflow-y:hidden;
}

.scroll section {
    margin:10px;
    position:relative;
    width:350px;
}

.scroll div {
    position:absolute;
    top:251px;
    background-color:rgba(255,255,255,.75);
    padding:5px;
    height:50px;
    width:350px;
}


.scroll section dl {
    display:flex;
    font-style:italic;
}

.scroll section dt {
    padding-right:5px;
    font-size:1em;
}

audio::-webkit-media-controls-mute-button {
    background-color:#FFFFFF;
    border-radius:50%;
}

audio::-webkit-media-controls-play-button {
    background-color:#FFFFFF;
    border-radius:50%;    
}

audio::-webkit-media-controls-enclosure {
    background-color:rgba(255,255,255,.5);
}

audio {
    position:absolute;
    bottom:150px;
    left:5px;
}
/*--------END OF TRENDING SONGS SECTION WITH SCROLL BAR---------*/

/*-----------START OF 'MORE TRENDING' BUTTON STYLES-------------*/
.more {
    color:#FFFFFF;
    background-color:#590242;
    border-radius:5px;
    padding:5px;
    width:135px;
    margin:5px;
    display:block;
    text-align:center;
    margin:10px 0 30px 32px;
    text-decoration:none;
}

.more:hover {
    background-color:#020659;
}
/*------------END OF 'MORE TRENDING BUTTON STYLES-------------*/

/*---------START OF PLAYLISTS SECTION WITH SCROLL BAR---------*/
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width:15px;
}

#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow:inset 0 0 15px #020659;
}

#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background:#020659;
    border-radius:5px;
}

#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background:#FFFFFF;
}

.playlist-container {
    background-color:#FFFFFF;

    dt {
        padding-bottom:10px;
        text-transform:uppercase;
        font-weight:bold;
        
        span {
            display:block;
        }
    } 
        
    img {
        padding:5px;
        
    }
}

.scroll-playlists {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x:auto;
    overflow-y:auto;   
    background-color:#2699FB;
    padding:0;
}

.playlist-container h2 {
    margin-left:20px;
    margin-bottom:10px;
}

.scroll-playlists section {
    margin:5px;
    padding:10px;
    position:relative;   
    background-color:#0D8DFB;
    color:#FFFFFF;
    text-align:center;
}

.scroll-playlists div {
    position:absolute;
    padding:0px;
    color:#FFFFFF;
    height:10px;
    width:350px;
    margin:auto;     
}
/*---------END OF PLAYLISTS SECTION WITH SCROLL BAR---------*/

/*-----------START OF 'ALL YOUR PLAYLISTS' BUTTON STYLES-------------*/
.all {
    color:#FFFFFF;
    background-color:#590242;
    border-radius:5px;
    padding:5px;
    width:135px;
    display:block;
    text-align:center;
    margin:10px 0 30px 32px;
    text-decoration:none;
}

.all:hover {
    background-color:#020659;
}
/*-----------START OF 'ALL YOUR PLAYLISTS' SECTION STYLES-------------*/
.scroll-curated {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x:auto;
    overflow-y:auto;    
    background-color:#2104D9;
    padding:10px;
}

.scroll-curated section {
    margin:5px;
    padding:10px;
    position:relative;   
    background-color:#030ABC;
    color:#FFFFFF;
    text-align:center;
}

.scroll-curated div {
    position:absolute;
    padding:0px;
    color:#FFFFFF;
    height:10px;
    width:350px;
    margin:auto;
}
/*-----------END OF 'ALL YOUR PLAYLISTS' BUTTON STYLES-------------*/

/*-----------START OF FOOTER SECTION STYLES-------------*/
footer p {
    font-size:.75em;
    background-color:#FFFFFF;
    color:#590242;
    text-align:center;
    padding-bottom:20px;
}
/*-----------END OF FOOTER SECTION STYLES-------------*/

/*-----------START OF STYLING FOR LARGER SCREENS-------------*/
@media screen and (min-width:834px) {
    nav {
        justify-content:center;
        background-color:#2104D9; 
        padding:0;
        margin:0;
        width:100%
    }

    ul {
        overflow:visible;
        position:absolute;
        top:0;
        display:flex;
        flex-direction:row; 
        align-items:center;
        gap:50px;
        padding:0;
        margin:0;
    }

    li {    
        text-transform:uppercase; 
        display:inline-block; 
        justify-content:space-evenly; 
        padding:0;
        margin:0;
    }
    
    a {
        display:block;
        padding:0.5rem 1rem;
    }

    label span, input {
        display:none;
    } 

#trending {
    width:auto;
    padding-top:30px;
}

.more {
    float:right;
    border:none;
    margin-right:8px;
}

.playlist-container {
    display:flex;
    flex-direction:row;
    width:100%;
    height:500px;
    background-color:#FFFFFF;

    .all {
    float:right;
    border:none;
    }    
    
    img {
    float:left;    
    }
    
    #curated, #playlists {
    width:50%;
    height:100%;
    background-color:#FFFFFF;
    }

    .scroll-playlists, .scroll-curated {
        height:100%;
        width:100%;
        display:flex;
        flex-direction:column;
        gap:10px;
    }
}
}
